@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Noto+Sans+JP:wght@100..900&family=Recursive:wght@300..1000&display=swap');
@import 'tailwindcss';

@theme {
  --color-light-blue: #4cb3f8;
  --color-light-blue1: #f5f8fa;
  --color-black-80: #333333;
  --color-black-50: #4d4d4d;
  --color-black-30: #b3b3b3;
  --text-title: 24px;
  --text-body: 16px;
  --text-caption: 12px;
  --text-minimum: 10px;
  --font-sans: 'Noto Sans JP', 'sans-serif';
  --font-serif: 'Noto Sans JP', 'serif';
}

@layer base;

@layer base {
  body {
    color: var(--color-black-80);
    font-size: var(--text-body);
  }
}
